//---- contact form 7 ----//

.wpcf7 {
  text-align: center;
  label {
    display: block;
  }
  button, input, select, textarea, submit {
    padding: 22px;
    width: 100%;
    border: none;
    font-family: $font-family-text;
    font-size: 17px;
    background: #f1f1f1;
    letter-spacing: 0.05em;
  }
  .wpcf7-submit {
    display: block;
    background-color: darken($blue, 20%);
    text-transform: uppercase;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 300ms ease-out;
    font-weight: 700;
    border: 2px solid $blue;
    font-weight: 600;
    color: $blue !important;
    background: none;
    width: auto;
    @include md {
      padding: 16px 56px;
    }
    &:hover {
      border: 2px solid $blue;
      background: $blue;
      color: #fff !important;
    }
  }
}

.wpcf7 button, input, select, textarea {
  color: $dark-grey !important;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: 2px solid $warning-red;
  padding: 0.4em 1em;
}

span.wpcf7-not-valid-tip {
    color: $warning-red;
  }

  div.wpcf7-mail-sent-ng {
    border: 2px solid $warning-red;
}
