.contact-page {
  font-size: 17px;
  text-align: center;
}

.contact-details__outer {
  background: #f1f1f1;
}

.contact-details__inner {
  @include xl {
    display: flex;
    justify-content: center;
  }
}

.contact-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  @include md {
    flex-direction: row;
    justify-content: center;
  }
}

.contact-options__link {
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.contact-options__icon {
  margin: 0 0 10px;
  color: $blue;
  @include md {
    margin: 0 10px 0 0;
  }
}

// contact-s contact-form
.contact-s__inner {
  max-width: 600px;
}
