.get-started {
  background: $light-blue;
  @include xl {
    padding: 100px 20px;
  }
  &__content {
    width: 85%;
    margin: 0 auto;
    @include xxl {
      width: 65%;
    }
    &__header {
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      font-size: 28px;
      font-weight: 400;
      padding-right: 35px;
      margin: 0;
    }
    &__highlight {
      font-weight: 500;
    }
    a {
      background-color: $blue;
      color: #fff;
      font-size: 18px;
      border: 2px solid $blue;
      padding: 12px;
      margin-top: 25px;
      text-transform: uppercase;
      font-family: 'Montserrat';
      display: inline-block;
      transition: 300ms ease-out;
      &:hover {
        background-color: transparent;
        text-decoration: none;
        border: 2px solid $blue;
        color: $blue;
      }
    }
  }
}
