.lost {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.lost h2 {
    font-size: 44px;
    @include lg {
        font-size: 54px;
    }
}

.lost__inner p {
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 560px;
}

.lost ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lost li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.lost li a {
    transition: color 0.2s ease-in-out;
    border-bottom: 2px solid $blue;
}

.lost li a:hover {
    color: $blue;
}

.lost li:not(:first-of-type):before {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    right: 100%;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    margin-right: 15px;
}