.portfolio-s {
  padding: 0;
}

.portfolio__header {
  text-align: left;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project {
  text-align: center;
  cursor: pointer;
}

.project__subheader {
  color: #fff;
  font-size: 18px;
}

.project__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.project__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.05);
  transition: background 0.3s;
}

.project__inner:hover::before {
  background: rgba(18, 26, 39, 0.6);
}

.project__text {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.6s;
  width: 75%;
}

.project__overlay__stuff {
  transition:600ms;
  position: relative;
  padding: 20px;
}

.project__header {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
  transition: 600ms;
  color: #fff;
  @include lg {
    top: -15px;
  }
}

.project__top {
  top: 0;
  opacity: 1;
}

.button__projects {
  margin: 25px 0 15px;
  position: relative;
  transition: 600ms;
  // opacity: 0;
  @include lg {
    bottom: -15px;
  }
}

.project__bottom {
  bottom: 0;
}

.project__meta {
  transition: 3s;
}

.project__hi {
  opacity: 1;
}

@include lg {
  .project__overlay:hover {
    opacity: 1;
  }
}

.project__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.move {
  top: -50%
}

.visible {
  opacity: 1;
}

// --- columns --- //
.col {
  display: flex;
  background-color: #e2e2e2;
  background-clip: content-box;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col-one {
    order: 0;
  }
  .col-two {
    order: 1;
  }
  .col-three {
    order: 3;
  }
  .col-four {
    order: 2;
  }
  .col-five {
    order: 4;
  }
  .col-six {
    order: 5;
  }
}

.col-md {
  height: 300px;
  @include md {
    flex: 1 1 50%;
  }
  @include lg {
    flex: 1 1 33.333%;
  }
  @include xl {
    height: 400px;
  }
  @include xxl {
    height: 475px;
  }
}

.col-link {
  font-family: Lobster;
  font-size: 50px;
  text-transform: capitalize;
  color: $blue;
}

.portfolio-section {
  @include lg {
    font-size: 18px;
  }
}

.portfolio-post {
  .section {
    padding: 100px 20px;
  }
}
