.review {
  background-color: #42464a;
  &__details {
    margin: 0 auto;
    font-size: 18px;
    max-width: 600px;
    @include xl {
      max-width: 800px;
    }
    &__author {
      display: inline-block;
      margin: 10px 0 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__header {
    text-align: center;
    color: #fff;
  }
}

/* slider
----------------------*/

.slide-mask {
  position: relative;
  overflow: hidden;
  height: 310px;
  list-style: none;
  @include md {
    height: 210px;
  }
  @include xl {
    height: 190px;
  }
}
.slide-group {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-left: 0px;
}
.slide {
  height: 310px;
  list-style: none;
  @include md {
    height: 210px;
  }
  @include xl {
    height: 190px;
  }
}

/* nav
----------------------*/
.slide-nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -20px;
}
.slide-nav ul {
	margin: 0;
	padding: 0;
  list-style: none;
}
.slide-nav li {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: lighten($grey-background, 10%);
  cursor: pointer;
  margin-left: .7em;
  border-radius: 12px;
}
.slide-nav li.current {
	background: $grey-background;
}

.bullet {
  height: 15px;
  width: 15px;
  background-color: $grey-background;
  border-radius: 15px;
  cursor: pointer;
  margin: 9px;
  display: inline-block;
  position: relative;
  &:before {
    position:absolute;
    content:'';
    top:-5px;
    right:-5px;
    left:-5px;
    bottom:-5px;
    z-index:40;
  }
}




.metaslider {
  max-height: 180px !important;
  min-height: 330px !important;
  margin: 0 auto !important;
  @include md {
    min-height: 180px !important;
  }
  .caption-wrap {
    line-height: 30px !important;
  }
}

#metaslider_143 {
  max-height: 250px !important;
  min-height: 250px !important;
  @include md {
    max-height: 250px !important;
    min-height: 250px !important;
  }
}
#metaslider_container_143 {
  margin-bottom: 50px !important;
  @include md {
    margin-bottom: 90px !important;
  }
}
.metaslider .slides img {
  visibility: hidden !important;
}

.metaslider .caption {
  padding: 5px 25px !important;
}

.metaslider .caption-wrap {
  top: 0 !important;
  right: 0 !important;
  background: none !important;
  opacity: 1 !important;
}

.flex-control-paging li a {
  width: 13px !important;
  height: 13px !important;
}

.flex-control-paging li a.flex-active {
  background: #d0d0d0 !important;
}

.flex-control-paging li a:hover {
  background: #d0d0d0 !important;
}

.flex-control-paging li a {
    background: rgb(34, 35, 37) !important;
  }

.person {
  font-size: 16px;
}

.flex-control-nav {
  bottom: -126px !important;
  @include md {
    bottom: -30px !important;
  }
}
