.services-section {
  &__header {
    color: $dark-text;
  }
  &__row {
    max-width: 1200px;
    padding: 0 20px 20px;
    margin: 0 auto;
  }
  &__intro {
    text-align: center;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    @include md {
      padding: 0 60px;
    }
    @include lg {
      font-size: 26px;
      line-height: 40px;
      padding: 40px;
    }
  }
}

.home .services-section .services-section__intro {
  display: none;
}

.skills {
  flex-flow: column;
  display: flex;
  margin: 0 auto;
  padding: 0 20px 20px;
  @include md {
        flex-flow: row;
    }
  &__column {
    text-align: center;
    background: #fff;
    padding: 20px;
    flex: 1 1 0;
    border-radius: 2px;
    @include lg {
      margin: 0 20px;
      }
    &__header {
      font-size: 32px;
      white-space: nowrap;
      margin: 25px 0 20px;
      @include md {
        font-size: 20px;
      }
      @include lg {
        font-size: 30px;
      }
    }
    .sr-icon {
      font-size: 115px;
      margin: 15px 0;
      color: $blue;
      // opacity: 0;
      @include md {
        font-size: 85px;
      }
    }
  }
  &__list {
    font-size: 19px;
    padding-left: 0;
    list-style-type: none;
  }
  &__list__item {
    border-bottom: 1px dashed #484848;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 8px;
      &:last-of-type {
      border-bottom: none;
    }
  }
}

.page-id-39 {
  .services-section__header {
    display: none;
  }
  .services-section {
    padding-top: 40px;
  }
}
