.title {
   text-align: center;
   color: white;
   // background-color: $orange;
   overflow: hidden;
   min-height: 450px;
   @include md {
     min-height: 500px;
   }
   img {
     position: fixed;
     top: 0;
     left: 0;
     max-width: 100%;
     height: auto;
     z-index: -2;
   }
   &__overlay {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    //  background-image: linear-gradient(to bottom right,#0c293a,#4e2e29);
     background-color: rgba(0,0,0,0.4);
   }
   &__page-title {
     font-size: 50px;
     margin-bottom: 30px;
     letter-spacing: 3px;
     color: #fff;
     @include xl {
       font-size: 62px;
     }
   }
   &__page-subheader {
     font-size: 24px;
     min-width: 240px;
   }
}
.title__page__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Montserrat';
}

.contact {
  .title img {
    top: -228px;
  }
}
