*, :after, :before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  color:  $dark-text;
  margin: 0 0 42px;
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}

.header {
  text-align: center;
  position: relative;
  @include xl {
    font-size: 50px;
  }
}

.header--left {
  text-align: left;
}

.header--lined::after {
  content: "";
  height: 4px;
  width: 70px;
  display: block;
  background-color: $blue;
  position: absolute;
  bottom: -15px;
  left: 2px;
}

body {
  font-size: 18px;
  font-family: $font-family-text;
  color: $dark-text;
  margin: 0;
  margin: 0 auto;
  @include lg {
    font-size: 19px;
  }
}

.slide-nav .current {
  background-color: #fff;
}

.circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #111;
    border-radius: 50%;
    outline: none;
    border:2px solid #111;
    transition: all .5s;
}

.section {
  padding: 60px 0;
  @include md {
    padding: 60px 20px;
  }
  @include xl {
    padding: 80px 20px;
  }
}

.section--less-padding {
  padding: 40px 0;
  @include xl {
    padding: 60px 0;
  }
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  &--full-width {
    max-width: none;
  }
}

.white-header-text {
  .site-header__logo__graphic a {
    color: #fff;
  }
  .menu-icon {
    &:before {
      background-color: #fff;
    }
    &__middle {
      background-color: #fff;
    }
    &:after {
      background-color: #fff;
    }
  }
  @include lg {
    .menu-primary-nav-container a {
      color: #fff;
    }
  }
}

p {
  margin: 0 0 10px;
  line-height: 1.5;
}

li {
  line-height: 30px;
}

a {
  color: $dark-blue;
  text-decoration: none;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

.section__width {
  max-width: 800px;
  margin: 0 auto;
  p {
    line-height: 30px;
    font-size: 18px;
  }
}

.pic {
  overflow: hidden;
  img {
    margin: 0 auto;
    height: auto;
    display: block;
    width: 100%;
    // @include xl {
    //   padding: 0 200px;
    // }
  }
}

.icon {
  height: 150px;
  width: 150px;
  background-color: #BDC3C7;
  border-radius: 75px;
  margin: 25px auto;
}

.space {
  height: 400px;
}

.hide {
  visibility: hidden;
}

.fa-fw {
  max-width: 150px;
}

.page-intro {
  background: #fff;
  font-size: 18px;
  @include md {
    font-size: 22px;
    line-height: 40px;
    padding: 40px;
  }
  p {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
    @include md {
      width: 800px;
      line-height: 40px;
    }
  }
}

.footer .ctf-tweet-text {
  a {
    color: $blue;
  }
}

#catapultCookie {
  background: $yellow;
}

.demo a {
    bottom: 5px !important;
  }

.align-text-center {
  text-align: center;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.less-padding {
  padding-top: 50px !important;
}

#ctf .ctf-author-name, #ctf .ctf-author-screenname, #ctf .ctf-verified, #ctf .ctf-tweet-meta {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-tb-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-padded {
  padding-left: 30px;
  padding-right: 30px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
