$black:               #1d1f20;
$blue:                #3eb6ac;
$light-blue:          #f3f5f7;
$grey-background:     #484a48;
$yellow:              #f9bf3b;
$orange:              #ffb55e;
$grey:                grey;
$dark-grey:           #494b49;
$dark-text:           #383838;

// brighter blue #00cdc3
