.footer {
  background-color: $dark-grey;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  &__social-icons {
    font-size: 30px;
    padding-bottom: 15px;
  }
  &__copyright {
    font-size: 14px;
  }
}

.fa {
  &:first-of-type {
    padding-right: 15px;
  }
}
