.nav-home {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 2;
  @include lg {
    padding: 32px 0;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    @include smla {
      padding: 6px;
    }
    @include xl {
      display: inline-block;
      padding: 0 40px 0 0;
    }
  }
}

.menu-item {
  list-style-type: none;
  padding: 16px;
  visibility: hidden;
  @include xl {
    visibility: visible;
  }
}

.header-container {
  @include md {
    position: relative;
    margin: 0 50px;
  }
  @include xxl {
    margin: 0 150px;
  }
}

.site-header__logo {
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 600;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  @include md {
    font-size: 20px;
  }
  @include lg {
    font-size: 25px;
  }
}

// overlay
.main-menu {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  background-color: #3eb6ac;
  position: fixed;
  text-align: center;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @include xl {
    width: 0;
    height: 0;
    opacity: 1;
    position: static;
    left: auto;
    top: auto;
  }
}

.main-menu-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  @include xl {
    display: block;
    right: 0;
    height: 60px;
    transform: none;
    top: auto;
    left: auto;
  }
}

.mobile-menu-overlay {
  visibility: visible;
  opacity: 1;
}

.header-icon, .header-icon:visited, .header-icon:active {
  color: #fff;
  font-size: 30px;
}

.header-icon:last-of-type {
  padding-left: 25px;
}


.mobile-menu-visible {
  visibility: visible;
}

.menu-primary-nav-container {
  visibility: visible;
  a {
    font-size: 18px;
    padding: 8px 0;
    position: relative;
    letter-spacing: 0.12em;
  }
}

/* The navigation links inside the overlay */
.menu-primary-nav-container {
  visibility: hidden;
  @include xl {
   visibility: visible;
  }
}

.menu-primary-nav-container a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500;
  color: #fbfbfb;;
  display: block;
  @include xl {
    font-size: 18px;
    padding: 8px 0;
    position: relative;
    letter-spacing: 0.12em;
  }
}

/* When you mouse over the navigation links, change their color */
.menu-primary-nav-container a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .menu-primary-nav-container a {font-size: 20px}
}

// menu button
.menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @include lg {
      top: 10px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }
    @include xl {
      display: none;
    }
  }

  .menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  } // menu button

@include xl {
  .icons {
    display: none;
  }

  #menu-primary-nav {
    float: right;
    margin: 0;
  }

  .menu-item  {
    a:after {
      content: "";
      height: 3px;
      width: 0;
      display: block;
      background-color: transparent;
      position: absolute;
      bottom: 0;
    }
    a.sayhi:after {
      background-color: $blue;
      width: 100%;
      transition: width .5s ease, background-color .5s ease;
    }
  }

  .current-menu-item {
    a:after {
      content: "";
      height: 3px;
      width: 100%;
      display: block;
      background-color: $blue;
      position: absolute;
      bottom: 0;
    }
  }
}

@include xxl {
  .menu-primary-nav-container {
    a {
      font-size: 18px;
    }
  }
}

.fixed-position {
  position: fixed;
  width: 100%;
}
